<script type="module">
    // Mathjax 연동
    document.querySelectorAll('.mermaid').forEach( pre => {
        const list = pre.nextElementSibling;
        if (list === null || list.classList[0] !== "mathjax")
            return;
        MathJax.typeset([list]);
        pre.querySelectorAll('span.mathjax').forEach( span => {
            span.outerHTML = "\"<span style=\"color: #888\">" + list.querySelector('.' + span.classList[1]).innerHTML + "</span>\"";
        });
        list.remove();
    });
    // Mermaid 그리기
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs'
    mermaid.initialize({
        startOnLoad: false,
    });
    await mermaid.run();
    // Mermaid 노드에 그림자 추가
    document.querySelectorAll('.mermaid').forEach( pre => {
        const current = pre.children[0];
        if (current.ariaRoleDescription !== "flowchart-v2")
            return;
        current.insertAdjacentHTML('afterbegin', `
            <defs>
                <filter id="drop-shadow" x="-100%" y="-100%" width="300%" height="300%">
                    <feFlood flood-color="black" result="color"/>
                    <feComposite in2="SourceGraphic" in="color" operator="in"/>
                    <feGaussianBlur stdDeviation="3"/>
                    <feComponentTransfer>
                        <feFuncA type="linear" slope="0.5"/>
                    </feComponentTransfer>
                    <feOffset dx="1" dy="2"/>
                    <feMerge>
                        <feMergeNode />
                        <feMergeNode in="SourceGraphic"/>
                    </feMerge>
                </filter>
            </defs>
        `);
        ['rect', 'circle'].map( shape => {
            const drawElement = current.querySelectorAll(shape);
            if (drawElement)
                drawElement.forEach( e => { e.setAttribute("filter", `url(#drop-shadow)`); });
        });
        current.viewBox.baseVal.x -= 8;
        current.viewBox.baseVal.y -= 8;
        current.viewBox.baseVal.width += 10;
        current.viewBox.baseVal.height += 10;
        // Mermaid 기본 정렬 (홈 화면에 적용)
        if (pre.classList.contains("tag-connection-define")) {
            let matrix = new DOMMatrix(window.getComputedStyle(pre).getPropertyValue('transform'));
            current.style.transform = matrix;
            pre.style.transform = 'unset';
        }
    });
</script>