<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="post-content e-content" itemprop="articleBody">

      {{ content }}

    </div>

    <script>
      // h2 태그를 제목으로 하고 있는 본문을 div로 묶음
      var postContentDiv = document.querySelector('div.post-content');
      var divContainer = [];

      while (postContentDiv.children.length > 0) {
        var currentElement = postContentDiv.children[0];
        if (currentElement.tagName.toLowerCase() === 'h2') {
          var newDiv = document.createElement('div');
          newDiv.classList.add('post-section');
          divContainer.push(newDiv);
        }
        divContainer[divContainer.length - 1].appendChild(currentElement);
      }

      for (var i = 0; i < divContainer.length; i++) {
        postContentDiv.appendChild(divContainer[i]);
      }
    </script>

    <script>
      // 포스트 내 테이블의 overflow 방지 및 margin 추가
      var postContentDiv = document.querySelector('div.post-content');
      var tables = postContentDiv.querySelectorAll('table');
      tables.forEach(function(table) {
        var div = document.createElement('div');
        div.classList.add('post-table');
        table.parentNode.replaceChild(div, table);
        div.appendChild(table);
      });
    </script>

    <script type="module">
      // Mermaid 그리기
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs'
      mermaid.initialize({ startOnLoad: false });
      await mermaid.run({
        querySelector: '.mermaid',
      });
      // Mermaid 노드에 그림자 추가
      const filterDefinition = `
        <defs>
          <filter id="drop-shadow" x="-50%" y="-50%" width="200%" height="200%">
            <feFlood flood-color="#888" result="color"/>
            <feComposite in2="SourceGraphic" operator="in"/>
            <feGaussianBlur stdDeviation="3"/>
            <feComponentTransfer>
              <feFuncA type="linear" slope="0.5"/>
            </feComponentTransfer>
            <feOffset dx="1" dy="2"/>
            <feMerge> 
              <feMergeNode />
              <feMergeNode in="SourceGraphic"/>
            </feMerge>
          </filter>
        </defs>
      `;
      const mermaidPre = document.querySelectorAll('pre.mermaid');
      for (var i = 0; i < mermaidPre.length; i++) {
        const current = mermaidPre[i].children[0];
        current.insertAdjacentHTML('afterbegin', filterDefinition);
        ['rect', 'circle'].map( shape => {
          const drawElement = current.querySelectorAll(shape);
          for (var j = 0; j < drawElement.length; j++) {
            drawElement[j].setAttribute("filter", `url(#drop-shadow)`);
          }
        });
      }
    </script>

</article>
