---
layout: articles
banner:
    image: https://static.solved.ac/site_main_graphic_1.png
---

{% comment %}
{%- if site.posts.size > 0 -%}

  {% include functions.html func='log' level='debug' msg='Get datetimes value' %}

  {% assign filter = '%Y' %}
  {% include functions.html func='get_datetimes' %}
  {% assign datetimes = return %}

  {% assign keys = datetimes | reverse %}
  {% assign field = 'date' %}
  {% include views/segments.html %}

{%- endif -%}
{% endcomment %}

<div>
  {% include views/search.html %}
</div>