---
layout: framework
heading: 'Your awesome heading'
subheading: 'Your awesome subheading'
banner:
    image: https://static.solved.ac/site_main_graphic_1.png
sidebar: article-menu
---

{%- include views/article.html -%}

<style>
    pre.mermaid.tag-connection-define {
        max-height: 500px;
        overflow: hidden;
        cursor: grab;
        box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.3);

        svg {
            width: 1000%;
        }
    }
</style>

{%- include extensions/touch-scroller.html container="pre.mermaid.tag-connection-define" -%}

<script>
    let tagData = {};

    {%- for tag in site.data.tags -%}
    tagData["{{ tag.en }}"] = { exp: "{{ tag.exp }}", ko: "{{ tag.ko }}", tier: "{{ tag.tier }}"};
    {% endfor %}

    console.log("boj tags loaded below:");
    console.log(tagData);

    let posts = {};

    {%- for post in site.posts -%}
    posts["{{ post.tags[-1] }}"] = "{{ post.url }}";
    {% endfor %}

    console.log("post loaded below:");
    console.log(posts);
    
    // 홈 화면의 태그 블록과 블로그 포스트를 연결합니다.
    // 태그 블록 트리를 터치 스크롤 화면으로 표시합니다.
    document.querySelectorAll('pre.mermaid.tag-connection-define').forEach( pre => {
        let newText = "";
        newText += pre.innerHTML + "\n\n";
        const tags = new Set(pre.innerHTML.split('#').slice(1).map( word => { return word.split(' ')[0].split('\n')[0] } ));
        tags.forEach( tag => {
            if (!(tag in tagData))
                return;
            let inner = "<span style=\"font-size: 1em;\">#" + tagData[tag].ko + "</span> <span style=\"opacity: 0.6; font-size: 0.8em;\">" + tag + "</span>";
            if (tagData[tag].exp in posts)
                inner = "<span style=\"background-color: red; border-radius: 50%; display:inline-block; width:28px; height:28px\">fa:fa-code</span> <a href=\"{{ site.baseurl }}" + posts[tagData[tag].exp] + "\">" + inner + "</a>";
            newText += "#" + tag + "([\"" + inner + "\"]):::" + tagData[tag].tier + "\n";
        });
        newText += "\n\n";
        newText += `
            classDef tier0 fill:#ad5600, color:#fff, stroke:#0000
            classDef tier1 fill:#435f7a, color:#fff, stroke:#0000
            classDef tier2 fill:#ec9a00, color:#fff, stroke:#0000
            classDef tier3 fill:#27e2a4, color:#fff, stroke:#0000
            classDef tier4 fill:#00b4fc, color:#fff, stroke:#0000
            classDef tier5 fill:#ff0062, color:#fff, stroke:#0000
        `;
        pre.innerHTML = newText;
    });
</script>
