---
layout: framework
heading: 'Your awesome heading'
subheading: 'Your awesome subheading'
banner:
    image: "/assets/images/banners/home.jpeg"
sidebar: article-menu
---

{%- include views/article.html -%}

<style>
    pre.mermaid.tag-connection-define {
        border: solid;
        border-radius: 20px;
        border-color: #888;
        border-width: 1px;
        padding: 15px;
        max-height: 500px;
        overflow: hidden;
        cursor: grab;

        svg {
            width: 1000%;
        }
    }
</style>

<script>
    let scrollBefore = { translateX: 0, translateY: 0 };
    let scrollTarget = undefined;
    let scrollStart = { x: 0, y: 0 };
    let scrolling = false;
    let scrolled = false;

    function getPos(event) {
        var x = event.clientX;
        var y = event.clientY;
        if (x === undefined || y === undefined) {
            x = event.changedTouches[0].clientX;
            y = event.changedTouches[0].clientY;
        }
        return { 'x': x, 'y': y };
    }

    function onScrollStart(event) {
        event.preventDefault();
        const target = event.target.closest('pre.mermaid.tag-connection-define');
        if (!target)
            return false;
        event.stopPropagation();
        scrollStart = getPos(event);
        var matrix = new DOMMatrix(window.getComputedStyle(target.children[0]).getPropertyValue('transform'));
        if (matrix === "none")
            matrix = new DOMMatrix('matrix(1, 0, 0, 1, 0, 0)');
        scrollBefore.translateX = matrix.m41;
        scrollBefore.translateY = matrix.m42;
        scrollTarget = target.children[0];
        scrolling = true;
        scrolled = false;
    }

    function onScrollMove(event) {
        if (!scrolling)
            return false;
        event.preventDefault();
        event.stopPropagation();
        const pos = getPos(event);
        const translateX = scrollBefore.translateX - (scrollStart.x - pos.x);
        const translateY = scrollBefore.translateY - (scrollStart.y - pos.y);
        if ((translateX - scrollBefore.translateX) ** 2 + (translateY - scrollBefore.translateY) ** 2 > 25)
            scrolled = true;
        scrollTarget.style.transform = `translate(${translateX}px, ${translateY}px)`;
    }

    function onScrollEnd(event) {
        event.preventDefault();
        event.stopPropagation();
        const a = event.target.closest('a');
        if (!scrolled && a !== null)
            a.click();
        scrolling = false;
    }

    function onClick(event) {
        if (scrolled)
            event.preventDefault();
        return false;
    }

    // 홈 화면의 태그 블록과 블로그 포스트를 연결합니다.
    // 태그 블록 트리를 터치 스크롤 화면으로 표시합니다.
    async function postLoad() {
        var tagData = {};

        await fetch("{{ site.baseurl }}/tag.csv")
        .then(response => response.text())
        .then(data => {
            const rows = data.split('\n');
            for (var i = 0; i < rows.length; i++) {
                const row = rows[i].trim().split(",");
                if (row.length < 4) continue;
                tagData[row[2]] = { full: row[0], tier: row[3], ko: row[1] };
            }
        })
        .catch(error => console.error('Error fetching CSV:', error));

        const posts = {};
        {%- assign posts = site.posts -%}
        {%- for post in posts -%}
        posts["{{ post.tags[-1] }}"] = "{{ post.url }}";
        {%- endfor -%}
        console.log("post loaded below:");
        console.log(Object.keys(posts));

        document.querySelectorAll('pre.mermaid.tag-connection-define').forEach( pre => {
            let newText = "";
            newText += pre.innerHTML + "\n\n";
            const tags = new Set(pre.innerHTML.split('#').slice(1).map( word => { return word.split(' ')[0].split('\n')[0] } ));
            tags.forEach( tag => {
                if (!(tag in tagData))
                    return;
                let inner = "<span style=\"font-size: 1em;\">#" + tagData[tag].ko + "</span> <span style=\"opacity: 0.6; font-size: 0.8em;\">" + tag + "</span>";
                if (tagData[tag].full in posts)
                    inner = "<span style=\"background-color: red; border-radius: 50%; display:inline-block; width:28px; height:28px\">fa:fa-code</span> <a href=\"{{ site.baseurl }}" + posts[tagData[tag].full] + "\">" + inner + "</a>";
                newText += "#" + tag + "([\"" + inner + "\"]):::" + tagData[tag].tier + "\n";
            });
            newText += "\n\n";
            newText += `
                classDef tier0 fill:#ad5600, color:#fff, stroke:#0000
                classDef tier1 fill:#435f7a, color:#fff, stroke:#0000
                classDef tier2 fill:#ec9a00, color:#fff, stroke:#0000
                classDef tier3 fill:#27e2a4, color:#fff, stroke:#0000
                classDef tier4 fill:#00b4fc, color:#fff, stroke:#0000
                classDef tier5 fill:#ff0062, color:#fff, stroke:#0000
            `;
            pre.innerHTML = newText;
            
            pre.addEventListener("click", onClick);
            pre.addEventListener("mousedown", onScrollStart);
            pre.addEventListener("touchstart", onScrollStart);
            pre.addEventListener("touchmove", onScrollMove);
            pre.addEventListener("touchend", onScrollEnd);
        });
        window.addEventListener("mousemove", onScrollMove);
        window.addEventListener("mouseup", onScrollEnd);
    }

    postLoad();
</script>
